@page "/about"

<PageTitle>About us | BlazingBlog</PageTitle>

<div class="container my-5">
    <h3>About us</h3>
    <p>This is a simple blog web app  build using Blazor Server with .Net 7 by Abhay Prince</p>
</div>