
<div class="container">
    <header class="d-flex justify-content-center justify-content-md-between flex-wrap py-3">
        <NavLink href="/" class="text-light text-decoration-none fs-4 fw-bold">Blazing Blog</NavLink>

        <ul class="nav">
            <li>
                <NavLink href="/" class="link-light nav-link">Home</NavLink>
            </li>
            <li>
                <NavLink href="/about" class="link-light nav-link">About</NavLink>
            </li>
            <li>
                <NavLink href="/manage-categories" class="link-light nav-link">Manage Categories</NavLink>
            </li>
            <li>
                <NavLink href="/manage-blogs" class="link-light nav-link">Manage Blogs</NavLink>
            </li>
        </ul>

        <div class="text-end">
            <NavLink href="/login" class="btn btn-primary">Login</NavLink>
        </div>
    </header>
</div>

@code {

}
